---
import "../styles/global.css"
import "../styles/sign-in.css"

import SiteLayout from "../layouts/layout.astro"
---

<SiteLayout title="Complete sign in | Enfield NH Zoning">
    <div id="wait">Please wait while we process your request.</div>
    <div id="expired" style="display:none;">
        Your token has expired. Tokens expire after 5 minutes. This means once you enter your email and click "Sign in", you have 5 minutes to click the link that is emailed to you. Please visit the <a href="/sign-in">sign in</a> page and try again.
    </div>
</SiteLayout>

<script>
    import $ from "jquery"

    import { type Account } from "@enfield-zoning/website-api-dto"

    import { fetchPost } from "../scripts/fetch"

    const waitBlock = $("#wait")
    const expiredBlock = $("#expired")

    completeLogin()

    async function completeLogin(): Promise<void> {
        const queryParams = new URLSearchParams(window.location.search)

        const userId = queryParams.get("u")
        const token = queryParams.get("t")

        if (!userId || !token) {
            showExpired()
            return
        }

        const request: Account.CompleteLoginRequest = {
            userId: userId,
            token: token
        }

        try {
            const response = await fetchPost<Account.CompleteLoginRequest, Account.CompleteLoginResponse>(
                "account/complete-login",
                request
            )

            if (response == null) {
                showExpired()
            } else {
                window.location.href = response.redirectUrl
            }
        } catch {
            showExpired()
        }
    }

    function showExpired(): void {
        waitBlock.hide()
        expiredBlock.show()
    }
</script>