---
import "../styles/global.css"

import SiteLayout from "../layouts/layout.astro"
import PollCardTemplate from "../components/index/poll-card.astro"
---

<SiteLayout title="Enfield NH Zoning">
    <div class="stack" id="contents">
        <PollCardTemplate id="template" />
    </div>
</SiteLayout>

<script>
    import { createPollCard } from "../scripts/index/poll-card"
    import $ from "jquery"

    async function loadCards() {
        const template = $("template")

        const stack = $("#contents")
        let newCard = createPollCard(template)

        stack.append(newCard)
    }

    loadCards()
</script>