---
import "../styles/global.css"
import "../styles/home.css"

import SiteLayout from "../layouts/layout.astro"
import PollCardTemplate from "../components/index/poll-card.astro"
---

<SiteLayout title="Enfield NH Zoning">
    <div class="stack">
        Welcome to the Enfield Zoning Feedback Portal. Help shape the future of Enfield's zoning regulations. Review current topics, 
        vote in community polls, and share your thoughts on potential changes under consideration. Feedback from this site is summarized and shared with the Planning Board during its regular public meetings.
    </div>
    <div class="stack">
        <h2>Current Polls - July Batch</h2>
        <div id="active-polls">
            <span id="no-polls" style="display:none;">
                We were unable to load the list of active polls.  
                Please try again later.
            </span>
        </div>
        <PollCardTemplate id="template" />
    </div>
    <!--
    <div class="stack">
        <h2>Past Polls</h2>
        <div class="past-batch">
            <h3>June Batch</h3>
            <p>
                <b>Poll name</b> <br />
                Poll summary
            </p>
        </div>
        <div class="past-batch">
            <h3>May Batch</h3>
            <p>
                <b>Poll name</b> <br />
                Poll summary
            </p>
        </div>
    </div>
    -->
</SiteLayout>

<script>
    import $ from "jquery"
    import type { Home } from "@enfield-zoning/website-api-dto"
    import { fetchGet } from "../scripts/fetch"
    import { createPollCard } from "../scripts/index/poll-card"

    async function loadCards() {
        const data = await fetchGet<Home.HomeModel>("home")

        // Display the data
        const template = $("template")
        const stack = $("#active-polls")

        if (data == null) {
            $("#no-polls", stack).show()
        } else {
            for (let card of data.cards) {
                const newCard = createPollCard(template, card)
                stack.append(newCard)
            }
        }
    }

    loadCards()
</script>