---
import "../styles/global.css"
import "../styles/sign-in.css"

import SiteLayout from "../layouts/layout.astro"
---

<SiteLayout title="Sign in | Enfield NH Zoning">
    <main class="signin-sent-page">
        We have sent you an email with a link to complete the login process.  Please open the email on this device and click the link.
    </main>
</SiteLayout>