---
import "../styles/global.css"
import "../styles/sign-in.css"

import SiteLayout from "../layouts/layout.astro"
---

<SiteLayout title="Sign in | Enfield NH Zoning">
    <main class="signin-page">
        <section class="signin-header">
            <h1>Sign In</h1>
            <p>
                To sign in, enter the email address of an existing account below.
            </p>
        </section>
            <form class="signin-form">
                <section class="signin-panel">
                    <label>
                        Email
                        <input
                            id="email-input"
                            name="email"
                            type="email"
                            autocomplete="email"
                            required
                        />

                        <div id="email-error" class="field-error" style="display:none;">
                            Enter a valid email address.
                        </div>
                        <div id="email-missing-error" class="field-error" style="display:none;">
                            That email is not associated with an active account. 
                            Please enter the correct email, or <a href="/sign-up">sign up</a> if you have not
                            already done so.
                        </div>
                        <div id="email-throttled-error" class="field-error" style="display:none;">
                            You have already requested a login email be sent.  Please check your email and click
                            the link we sent to complete the login process.
                        </div>
                        <div id="email-unknown-error" class="field-error" style="display:none;">
                            There was an error logging you in.  Please try again later.
                        </div>
                    </label>
                </section>

                <section class="login-submit-panel">
                    <p>
                        After submitting, we’ll send you a sign-in link by email.
                        Click that link to finish signing in.
                    </p>

                    <button class="button button-primary" type="submit">
                        Sign in
                    </button>
                </section>
            </form>
        </section>
    </main>
</SiteLayout>

<script>
    import $ from "jquery"

    import { Account } from "@enfield-zoning/website-api-dto"

    import { fetchPost } from "../scripts/fetch"

    const emailInput = $("#email-input")
    const emailError = $("#email-error")
    const emailNotFound = $("#email-missing-error")
    const emailThrottled = $("#email-throttled-error")
    const emailUnknownError = $("#email-unknown-error")

    emailInput.on("blur", () => {
        const email = emailInput.val()?.toString().trim() ?? ""

        if (email.length === 0) {
            emailError.hide()
            return
        }

        if (!isValidEmail(email)) {
            emailError.show()
        }
    })

    emailInput.on("focus", () => {
        emailError.hide()
    })

    $(".signin-form").on("submit", async event => {
        event.preventDefault()
        event.stopPropagation()

        emailError.hide()
        emailThrottled.hide()
        emailNotFound.hide()
        emailUnknownError.hide()

        const email = emailInput.val()?.toString().trim() ?? ""

        if (!isValidEmail(email)) {
            emailError.show()
            return false
        }

        const response = await fetchPost<Account.LoginRequest, Account.LoginResponse>("account/login", {
            email: email
        })

        if (response == null) {
            emailUnknownError.show()
        } else if (response?.emailSent) {
            window.location.href = "/sign-in-sent"
        } else if (response?.throttled) {
            emailThrottled.show()
        } else if (response?.notFound) {
            emailNotFound.show()
        }

        return false
    })

    function isValidEmail(email: string): boolean {
        return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)
    }
</script>