---
import "../styles/global.css"
import "../styles/sign-up.css"

import SiteLayout from "../layouts/layout.astro"
---

<SiteLayout title="Verify Your Email | Enfield NH Zoning">
    <main class="signup-page">
        <section class="signup-confirmation-panel">
            <p class="optional-label">Account created</p>

            <h1>Check your email</h1>

            <p>
                We sent a verification link to your email address.
            </p>

            <p>
                Click the link in that email to activate your account. You will
                not be able to participate in discussion until your email address
                has been verified.
            </p>
        </section>
    </main>
</SiteLayout>