<poll-context-section>
    <section class="section-card">
        <h3>Why this question was used?</h3>
        <p>
            By asking this question we learn two things.  The first is "how many 
            people are willing to answer an online poll related to an Enfield
            ballot issue?".  The second is, "what is the level of representation
            for people that voted yes and no?  Does the mix present here relect
            the mix of voters on election day?".
        </p>
        <p class="fine-print">
            Remember, this is completely anonymous.  We have no way of know who you
            are.  In this simple test, we also don't have a way of preventing
            multiple submissions so please limit you responses to one per registered
            voter.
        </p>
    </section>
</poll-context-section>

<script>
    class PollContextSection extends HTMLElement {}

    customElements.define("poll-context-section", PollContextSection)
</script>