---
import "../styles/global.css"
---

<purpose-section>
    <h2 class="section-title">What is this for?</h2>
    <p>
        This site is an experiment to improve decision making around zoning amendments
        and give a stronger voice to people who don't have time to attend public meetings.
        The test is meant to see how much engagement an online forum like this can generate.
    </p>

    <p>
        Please click the button below to answer a one question, multiple choice survey.
        Responses are completely anonymous.
    </p>

    <div class="cta-row">
        <button class="button button-primary button-cta" type="button">
            Take the survey
        </button>
    </div>
</purpose-section>

<script>
    import { postTraffic } from "../scripts/post-traffic"
    
    class PurposeSection extends HTMLElement {
        connectedCallback() {
            const button = this.querySelector("button")
            button?.addEventListener("click", () => {
                button.dispatchEvent(
                    new CustomEvent("startPoll", {
                        bubbles: true
                    })
                )

                postTraffic("startPoll")
            })

            postTraffic("displayPurpose")
        }
    }

    customElements.define("purpose-section", PurposeSection)
</script>
