<purpose-section>
    <section class="section-card">
        <h2>What is this for?</h2>
        <p>
            In an effort to improve decision making around zoning ammendments and
            give a louder voice to those that don't have time to attend public
            meetings, this experiment is being run to guage the level of engagement
            an online forums might have.
        </p>

        <p>
            Please click the button below to answer a one question, multiple choice
            survey.  The responses are completely anonyouse.
        </p>

        <div class="button-row">
            <button class="button button-primary" type="button">
                Go to survey question
            </button>
        </div>
    </section>
</purpose-section>

<script>
    class PurposeSection extends HTMLElement {
        connectedCallback() {
            const button = this.querySelector("button")
            button?.addEventListener("click", () => {
                button.dispatchEvent(
                    new CustomEvent("startPoll", {
                        bubbles: true
                    })
                )
            })
        }
    }

    customElements.define("purpose-section", PurposeSection)
</script>