---
import "../styles/global.css"
---

<thank-you-section>
    <h2>Thank you</h2>
    <p>
        Your response has been recorded.  Thank you for participating in this
        test.  If the test is successful, a new website will be created at this
        address that will aim to help with the following goals:
    </p>
    <ul>
        <li>
            Equip the planning board with a better view of wether the town
            supports a change or not.  For example, the recent vote on zoning
            was so large, we don't know whether there were pieces that had
            more support than others.
        </li>
        <li>
            Allow people who don't have time to attend public meetings to
            make their voice heard.
        </li>
        <li>
            Publish unbiased factual data to voters surrounding issues 
            related to Enfield zoning to help voters formulate their own
            opinions for election day.
        </li>
        <li>
            Create a space for moderated public discussion related to Enfield
            Zoning.
        </li>
    </ul>
    <p>
        This site, if created will remain an independant website and is not an official town website.
    </p>
</thank-you-section>


<script>
    class ThankYouSection extends HTMLElement {}

    customElements.define("thank-you-section", ThankYouSection)
</script>