---
import "../styles/global.css"
---

<thank-you-section>
    <h2>Thank you</h2>
    <p>
        Your response has been recorded. Thank you for participating in this
        test. If the test is successful, a new website may be created at this
        address to help with the following goals:
    </p>
    <ul>
        <li>
            Provide the Planning Board with a clearer view of whether the town
            supports a proposed change. For example, the recent zoning vote
            was large, and it is unclear whether certain parts had more support
            than others.
        </li>
        <li>
            Allow people who do not have time to attend public meetings to
            make their voices heard.
        </li>
        <li>
            Publish unbiased, factual information about issues related to
            Enfield zoning to help voters form their own opinions before
            election day.
        </li>
        <li>
            Create a space for moderated public discussion related to Enfield
            zoning.
        </li>
    </ul>
    <p>
        If created, this site will remain independent and will not be an official town website.
    </p>
</thank-you-section>


<script>
    class ThankYouSection extends HTMLElement {}

    customElements.define("thank-you-section", ThankYouSection)
</script>